<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All books</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="library.js"></script>
    <script src="books_dashboard.js"></script>
    <link href="./main.css" rel="stylesheet" />
</head>
<body>
    <div class="box">
        <div class="header">
            <div class="header_top">
                <div class="title_row">
                    <h1>Reader App</h1>
                    <p>Group-X Project</p>
                </div>
            </div>
            <div class="menu_row">
                <ul id="menu">
                    <li><a href="./index.html">Home</a></li>
                    <li class="live"><a href="./books_dashboard.html">Books</a></li>
                    <li><a href="./users_dashboard.html">Users</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="site_content">
            <h1 id="books_header">All Books</h1>
            <br>
            <div ng-app="mainApp" ng-controller="booksController" style="overflow-x: auto;">
                <section id="_search">
                    <form id="search_form" autocomplete="off">
                        <div class="search_box">
                            <label for="search">Search Title</label>
                            <input type="text" ng-model="book_title">
                            <input type="button" ng-click="searchBook(book_title)" value="Search">
                        </div>
                    </form>
                </section>
                <br>
                <div id="search_results">
                    <table class="dashboard">
                        <tr>
                            <td>Book Title: </td>
                            <td>{{ searchedBook.title }}</td>
                        </tr>
                        <tr>
                            <td>Book Author: </td>
                            <td>{{ searchedBook.author }}</td>
                        </tr>
                        <tr>
                            <td>Book Genre: </td>
                            <td>{{ searchedBook.genre }}</td>
                        </tr>
                        <tr>
                            <td>Book Link: </td>
                            <td>{{ searchedBook.item_link }}</td>
                        </tr>
                        <tr>
                            <td>Book Description: </td>
                            <td>{{ searchedBook.item_description }}</td>
                        </tr>
                    </table>
                </div>
                <br>
                <table class="dashboard">
                    <tr>
                        <th>Book Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th><select name="genreSelect" ng-model="selectedGenre.genre" ng-options="genre as book.genre for book in book_genres" ng-change="updateGenreSelection()"></select></th>
                    </tr>
                    <tr id="books_main" ng-repeat = "book in books">
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.genre }}</td>
                        <td><input type="button" ng-click="selectBook(book.title)" value="Select"></td>
                        <td><input type="button" ng-click="editBook(book.title)" value="Edit" /></td>
                    </tr>
                </table>
                <br><hr><br>
                <div id="selected" class="selected_table">
                    <h2>Book Title: {{ selectedBook.title }}</h2>
                    <h3>Book Details</h3>
                    <br>
                    <table class="selected_dashboard">
                        <tr>
                            <th>Book Link</th>
                            <th>Book Description</th>
                        </tr>
                        <tr>
                            <td><a href="{{ selectedBook.item_link }}" target="_blank">{{ selectedBook.item_link }}</a></td>
                            <td>{{ selectedBook.item_description }}</td>
                        </tr>
                    </table>
                </div>
                <div id="edit_selected">
                    <h2>Book Title: {{ book.title }}</h2>
                    <h3>Update Book Details:</h3>
                    <br>
                    <table class="selected dashboard">
                        <tr>
                            <td>Delete Title:</td>
                            <td>{{ editSelected.title }}</td>
                            <td><input type="button" ng-click="deleteBook(editSelected.title)" value="Delete" /></td>
                        </tr>
                        <tr>
                            <td>Update Genre:</td>
                            <td><input type="text" ng-model="update_genre.genre" /></td>
                            <td><input type="button" ng-click="updateGenre(editSelected.title, update_genre.genre)" value="Update" /></td>
                        </tr>
                        <tr>
                            <td>Update Link:</td>
                            <td><input type="text" ng-model="update_link.item_link" /></td>
                            <td><input type="button" ng-click="updateLink(editSelected.title, update_link.item_link)" value="Update" /></td>
                        </tr>
                        <tr>
                            <td>Update Description:</td>
                            <td><input type="text" ng-model="update_description.item_description" /></td>
                            <td><input type="button" ng-click="updateDescription(editSelected.title, update_description.item_description)" value="Update" /></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>