<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All books</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="library.js"></script>
    <script src="books_dashboard.js"></script>
    <link href="./main.css" rel="stylesheet" />
</head>
<body>
    <div class="box">
        <div class="header">
            <div class="header_top">
                <div class="title_row">
                    <h1>Reader App</h1>
                    <p>Group-X Project</p>
                </div>
            </div>

            <!--
                Header Navigation Bar
            -->

            <div class="menu_row">
                <ul id="menu">
                    <li class="live"><a href="./books_dashboard.html">Books</a></li>
                    <li><a href="./registration.html">Register</a></li>
                    <li><a href="./users_dashboard.html">Users</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="site_content">
            <div ng-app="mainApp" ng-controller="booksController" style="overflow-x: auto;">
                <h1 id="books_header">Books Dashboard</h1>
                <br>
                <p>
                    Use the <strong>search bar</strong> and find your chosen title.
                </p>
                <br>

                <!--
                    Search bar element segment
                -->

                <section id="_search">
                    <form id="search_form" autocomplete="off">
                        <br>
                        <div class="search_box">
                            <label for="search">Search Title</label>
                            <input type="text" ng-model="book_title">
                            <input type="button" ng-click="searchBook(book_title)" value="Search">
                        </div>
                        <br>
                    </form>
                </section>
                <br>
                <p>
                    <strong>Select</strong> an option below
                    and follow the link for more information.
                </p>
                <br>

                <!--
                    Search results table display element
                -->

                <div id="search_results">
                    <br>
                    <table class="dashboard">
                        <tr>
                            <td>Book Title: </td>
                            <td>{{ searchedBook.title }}</td>
                        </tr>
                        <tr>
                            <td>Book Author: </td>
                            <td>{{ searchedBook.author }}</td>
                        </tr>
                        <tr>
                            <td>Book Genre: </td>
                            <td>{{ searchedBook.genre }}</td>
                        </tr>
                        <tr>
                            <td>Book Link: </td>
                            <td><a href="{{ searchedBook.item_link }}">{{ searchedBook.item_link }}</a></td>
                        </tr>
                        <tr>
                            <td>Book Description: </td>
                            <td>{{ searchedBook.item_description }}</td>
                        </tr>
                    </table>
                    <br>
                </div>

                <!--
                    Standard total data table display
                -->

                <table id="main_table" class="dashboard">
                    <tr>
                        <th>Book Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <!--    Ineffective. TODO in corresponding js file
                        <th><select name="genreSelect" ng-model="selectedGenre.genre" ng-options="genre as book.genre for book in book_genres" ng-change="updateGenreSelection()"></select></th>
                        -->
                    </tr>
                    <tr id="books_main" ng-repeat = "book in books">
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.genre }}</td>
                        <td><input type="button" ng-click="selectBook(book.title)" value="Select"></td>
                        <td><input type="button" ng-click="editBook(book.title)" value="Edit" /></td>
                    </tr>
                </table>

                <!--
                    Creation post method table display
                -->

                <div id="create_mode">
                    <br>
                    <input id="create_button" type="button" ng-click="openCreateMode()" value="Add Book" />
                    <div id="create_table">
                        <h2>Add New Book.</h2>
                        <p>Fill in the details below:</p>
                        <br>
                        <table class="dashboard">
                            <tr>
                                <td>Add Title:</td>
                                <td><input type="text" ng-model="add_book.title" /></td>
                            </tr>
                            <tr>
                                <td>Add Author:</td>
                                <td><input type="text" ng-model="add_book.author" /></td>
                            </tr>
                            <tr>
                                <td>Add Genre:</td>
                                <td><input type="text" ng-model="add_book.genre" /></td>
                            </tr>
                            <tr>
                                <td>Add Link:</td>
                                <td><input type="text" ng-model="add_book.item_link" /></td>
                            </tr>
                            <tr>
                                <td>Add Description:</td>
                                <td><input type="text" ng-model="add_book.item_description" /></td>
                            </tr>
                        </table>
                        <br>
                        <input type="button" ng-click="createBookEntry(add_book.title, add_book.author, add_book.genre, add_book.item_link, add_book.item_description)" value="Submit" />
                        <br><br>
                        <input type="button" ng-click="hideEntry()" value="Cancel" />
                    </div>
                </div>
                <br><hr><br>

                <!--
                    Selection response table display
                -->

                <div id="selected" class="selected_table">
                    <h2>Book Title: {{ selectedBook.title }}</h2>
                    <h3>Book Details</h3>
                    <br>
                    <table class="selected_dashboard">
                        <tr>
                            <th>Book Link</th>
                            <th>Book Description</th>
                        </tr>
                        <tr>
                            <td><a href="{{ selectedBook.item_link }}" target="_blank">{{ selectedBook.item_link }}</a></td>
                            <td>{{ selectedBook.item_description }}</td>
                        </tr>
                    </table>
                </div>

                <!--
                    Selected put method table display
                -->

                <div id="edit_selected">
                    <h2>Book Title: {{ editSelected.title }}</h2>
                    <br>
                    <h3>Update Book Details:</h3>
                    <p>Fill in the chosen details below and click update/delete when you are ready.</p>
                    <br>
                    <table class="selected_dashboard">
                        <tr>
                            <td>Delete Title:</td>
                            <td>{{ editSelected.title }}</td>
                            <td><input type="button" ng-click="deleteBook(editSelected.title)" value="Delete" /></td>
                        </tr>
                        <tr>
                            <td>Update Genre:</td>
                            <td><input type="text" ng-model="update_genre.genre" /></td>
                            <td><input type="button" ng-click="updateGenre(editSelected.title, update_genre.genre)" value="Update" /></td>
                        </tr>
                        <tr>
                            <td>Update Link:</td>
                            <td><input type="text" ng-model="update_link.item_link" /></td>
                            <td><input type="button" ng-click="updateLink(editSelected.title, update_link.item_link)" value="Update" /></td>
                        </tr>
                        <tr>
                            <td>Update Description:</td>
                            <td><input type="text" ng-model="update_descript.item_description" /></td>
                            <td><input type="button" ng-click="updateDescription(editSelected.title, update_descript.item_description)" value="Update" /></td>
                        </tr>
                    </table>
                    <br><br>
                    <input type="button" ng-click="hideEntry()" value="Cancel" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>