html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #692E53;/*#2E5369;*/
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
    border: #F5F5F5 3px solid;
    border-radius: 5px;
    margin-top: 5px;
}

.box {
    background: #CD92B7;
    width: 80%;
    margin: 80px auto;
    padding: 15px;
    border-radius: 10px;
}

.home_box {
    background: #CD92B7;
    width: 50%;
    margin: 80px auto;
    padding: 15px;
    border-radius: 10px;
}

.header, .menu_row, .site_content {
    margin-left: auto;
    margin-right: auto;
}

.header {
    background: transparent;
    height: 170px;
}

.header_top {
    width: 100%;
    position: relative;
    height: 134px;;
}

.menu_row {
    height: 24px;
    width: 100%;
    position: relative;
}

ul#menu {
    float: right;
    margin: 0;
    padding: 0;
}

ul#menu li {
    float: left;
    padding: 0;
    list-style: none;
    margin: 5px 2px 0 0;
}

ul#menu li a {
    display: block;
    float: left;
    height: 20px;
    padding: 6px 20px 5px 20px;
    text-align: center;
    color: #000;
    text-decoration: none;
    background: #F5F5F5;
}

.site_content {
    width: 90%;
    overflow: hidden;
    position: relative;
    align-content: center;
    margin: 0 auto 0 auto;
    padding: 20px 5px 20px 20px;
    /* border: 10px solid #FFF; */
}

.sidebar {
    float: right;
    width: 20%;
    padding: 0 15px 20px 20px;
    margin-left: 20px;
    /*border: 10px solid #FFF;*/
}

.sidebar ul {
    width: 95%;
    padding: 5px 0 0 0;
    margin: 5px 0 25px 0;
    /*border: 10px solid #FFF;*/
}

.sidebar li {
    list-style: none;
    padding: 0 0 5px 0;
}


/* login registration segment */
.main_content {
    float: left;
    width: 60%;
    position: relative;
    font-size: 15px;
    line-height: 1.7;
    /*border: 10px solid #FFF;*/
}

fieldset {
    border: none;
    font-size: 20px;
    margin-inline-start: 25%;
}

#register_form, #login_form {
    font-weight: 100;
    padding: 0 10px;
    margin: 16px 0;
}

.form_box {
    display: flex;
    flex-direction: row;
    margin: 8px auto;
}

.form_box label {
    flex-basis: 80px;
    text-align: end;
    padding-right: 8px;
    padding-inline-end: 8px;
    font-size: 12px;
    font-weight: 100;
    color: #444;
}

.form_box button {
    background-color: #2E5369;
    border: none;
    color: #F5F5F5;
    padding: 4px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    flex-basis: auto;
    margin-inline-start: 25%;
}

.selected_table {
    float: left;
    width: 60%;
    padding: 0 15px 20px 20px;
    margin-left: 20px;
    /*border: 10px solid #FFF;*/
}

.all_users_table {
    float: left;
    width: 60%;
    position: relative;
    font-size: 15px;
    line-height: 1.7;
    /*border: 10px solid #FFF;*/
}

table {
    color: black;
}