body {
    background: #692E53;/*#2E5369;*/
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
    background: #CD92B7;
    width: 700px;
    margin: 80px auto;
    padding: 20px;
    border-radius: 10px;
}

.logo_row {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    background: #FCC7E9;
    margin: 0 auto;
    margin-top: 4px;
    margin-bottom: 30px;
}

.title_row .title {
    text-align: center;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title_row .subtitle {
    text-align: center;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr {
    border: #F5F5F5 3px solid;
    border-radius: 5px;
}