html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #692E53;/*#2E5369;*/
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
    background: #CD92B7;
    width: 65%;
    margin: 80px auto;
    padding: 20px;
    border-radius: 10px;
}

.header {
    background: transparent;
    height: 170px;
}

.header_top {
    width: 100%;
    position: relative;
    height: 134px;;
}

.menu_row {
    height: 24px;
    width: 100%;
    position: relative;
}

ul#menu {
    float: right;
    margin: 0;
    padding: 0;
}

ul#menu li {
    float: left;
    padding: 0;
    list-style: none;
    margin: 5px 2px 0 0;
}

ul#menu li a {
    display: block;
    float: left;
    height: 20px;
    padding: 6px 20px 5px 20px;
    text-align: center;
    color: #000;
    text-decoration: none;
    background: #F5F5F5;
}