<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="library.js"></script>
    <script src="registration.js"></script>
    <link href="./main.css" rel="stylesheet" />
</head>
<body>
    <div class="home_box" ng-app="mainApp" ng-controller="homeController">
        <div class="header">
            <div class="header_top">
                <div class="title_row">
                    <h1>Reader App</h1>
                    <p>Group-X Project</p>
                </div>
            </div>
            <div class="menu_row">
                <ul id="menu">
                    <li><a href="./books_dashboard.html">Home</a></li>
                    <li class="live"><a href="./registration.html">Register</a></li>
                    <li><a href="./users_dashboard.html">Users</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class=site_content>
            <section id="_register">
                <form id="register_form" autocomplete="off">
                    <legend id="register_login">
                        <fieldset>Register</fieldset>
                        <div class="form_box">
                            <label for="email">Email</label>
                            <input class="email" type="text" ng-model="register_user.email" autocomplete="off" />
                        </div>
                        <div class="form_box">
                            <label for="password">Password</label>
                            <input type="password" class="password" ng-model="register_user.password" autocomplete="off" />
                        </div>
                        <div class="form_box"><input type="button" ng-click="registerUser()" value="Register"></div>
                    </legend>
                </form>
            </section>
            <section id="_login">
                <form id="login_form" autocomplete="off">
                    <legend id="register_login">
                        <fieldset>Login</fieldset>
                        <div class="form_box">
                            <label for="email">Email</label>
                            <input class="email" type="email" ng-model="login_user.email" autocomplete="off" />
                        </div>
                        <div class="form_box">
                            <label for="password">Password</label>
                            <input class="password" type="password" ng-model="login_user.password" autocomplete="off" />
                        </div>
                        <div class="form_box"><input type="button" ng-click="loginUser()" value="Login"></div>
                    </legend>
                </form>
            </section>
        </div>
    </div>
</body>
</html>