<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="library.js"></script>
    <script src="users_dashboard.js"></script>
</head>
<body>
    <h1>All Users</h1>
    <div ng-app="mainApp" ng-controller="usersController">
        <table border=1>
            <tr>
                <th>User ID</th>
                <th>User Email</th>
            </tr>
            <tr ng-repeat = "user in users">
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td><input type="button" ng-click="selectUser(user.email)" value="Select"></td>
            </tr>
        </table>
        <div id="selected">
            <h3>User: {{ selectedUser.email }}</h3>
            <table border="1">
                <tr>
                    <td>User ID</td>
                    <td>User Email</td>
                </tr>
                <tr>
                    <td>{{ selectedUser.id }}</td>
                    <td>{{ selectedUser.email }}</td>
                    <td><input type="button" ng-click="deleteUser(selectedUser.email)" value="Delete"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>